.gallery_wrap{
  
    height: 100px;
    width:592px;
    margin: 0 auto;
    overflow:hidden;

}
.gallery_wrap--town {
    width: 750px;
    margin:0;
}




.gallery_storage {
    position:relative;
    left:0;
    top:0;
    width:2000px;
}

.gallery_list{
    padding:0;
}


.gallery_item {
    width:140px;
    height: 100px;
    background-color: $seastorm;
    float: left;
    list-style: none;
    margin-right: 10px;

}

.townitem {
    margin-right:12px;
}

.galler_link {
    height:inherit;
    width:inherit;
}


.gallery_controls {
    position:absolute;
    width: inherit;
    margin-top: 35px;
    z-index:5;
    display: cursor;

}
.gallery_control--prev {
    float: left;
    display:block;
}
.gallery_control--next {
    float: right;
    display:block;
}


@mixin townGalleryImgs($tBgUrl) {
    background: $tBgUrl;
    background-size: cover;
}


$tBgImgVars : townitem_1 url(../assets/images/towngallery/town_1.jpg), 
              townitem_2 url(../assets/images/towngallery/town_2.jpg),
              townitem_3 url(../assets/images/towngallery/town_3.jpg),
              townitem_4 url(../assets/images/towngallery/town_4.jpg),
              townitem_5 url(../assets/images/towngallery/town_5.jpg);

        @each $tImgs in $tBgImgVars {
            $bgclassT: nth($tImgs, 1);
            $tBgUrl: nth($tImgs, 2);

        .#{$bgclassT} {
    @include townGalleryImgs($tBgUrl);
    }
}




/*.leadimage {
    -webkit-animation: bannermove 27000ms linear infinite;

}
 

 
@-webkit-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -1079px;
 }
 
}*/
 

