.gallery_wrap{
  
    height: 100px;
    width:592px;
    margin: 0 auto;
    overflow:hidden;




}
.gallery_storage {
    position:relative;
    left:0;
    top:0;
    width:1150px;
}


.gallerythumb {

}



.leadimage {
    -webkit-animation: bannermove 27000ms linear infinite;

}
 

 
@-webkit-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -1079px;
 }
 
}
 

