header {
	height: 300px;
}

img.logo {
	padding-left:20px;
	margin-top: 64px;
    position: center;
    margin-bottom: 32px;

}

nav.headerNav {
	margin-top: 48px;
	position: relative;
	left: 22.5%;
	

}



