$raleway : 'Raleway', sans-serif;
$stint : 'Stint Ultra Condensed', cursive;


h1 {
	font-size: 48px;
	font-family: $raleway;
	font-weight: 900;
	color: #666;
	text-transform: uppercase;
	letter-spacing: 5px;
	margin-bottom: 16px;
	margin-top:0px;
	padding-top: 16px;
	line-height: 48px;
	padding-bottom: 0px;


}
.header--row{
	height: 48px;
}

.buttontext {
	color: white;
	font-size:40px;
	font-weight: 700;
	text-align: justify;
	margin-left: 0px;
	padding: 0px;
	line-height:24px;
	position: absolute;
	letter-spacing:7px;
	padding-top:5px;


}

.text--small {
	font-size: 28px;
	line-height:24px;
	padding: 0px;
	letter-spacing: 3px;
}

.widespace {
	font-size: 45px;
	letter-spacing:10px;
	line-height: 36px;
	font-weight:900;
}



h2 {
	font-size: 36px;
	font-family: $raleway;
	color: $jetty;
	margin-top: 0;
	margin-bottom: 12;
	font-weight: 300;
	text-transform:none;
	letter-spacing: -2px;


}
h3 {
	font-size: 24px;
	font-family: $roboto;
	font-weight: 300;
	color: $horizon;
	margin-top: 0;
	margin-bottom: 8px;
	text-transform: uppercase;
	letter-spacing:6px;
}
h4 {
	font-size:18px;
	font-family: $roboto;
	font-weight: 700;
	margin-top: 0px;
	margin-bottom: 6px;
	font-style: italic;
	color: $jetty;

}
 .textlink{
 	 color: $horizon;

 	 &:hover {
 	 	color: $sunshine;
 	 }
 }


 







