$raleway : 'Raleway', sans-serif;
$stint : 'Stint Ultra Condensed', cursive;


h1 {
	font-size: 48px;
	font-family: $roboto;
	font-weight: 300;
	color: $jetty;
	text-transform: uppercase;
	letter-spacing: 5px;
	margin-bottom: 0px;
	margin-top:0px;

}
h1.buttontext {
	color: white;
	font-size: 24px;
	font-weight: 700;
	text-align: center;

}

h2 {
	font-size: 40px;
	font-family: $robocon;
	color: $horizon;
	margin-top: 0;
	margin-bottom: 0;
	font-weight: 700;
}
h3 {
	font-size: 24px;
	font-family: $roboto;
	font-weight: 300;
	color: $swell;
	margin-top: 0;
	margin-bottom: 0;
	text-transform: uppercase;
	letter-spacing:6px;
}
h4 {
	font-family: $roboto;
	font-weight: 700;
	margin-top: 5px;
	margin-bottom: 0;
	font-style: italic;
	color: #666;	
}
 
.textsmall {
	font-size: 16px;
}






