

$sunshine : #ffb34e;
$seastorm : #805a6a;
$rust : #ec4300;
$tugboat : #a42812;
$pelican : #4c0630;

$wave : #8c8457;
$jetty : #4d3815;
$swell : #4d8c65;
$horizon : #3b6375;

$raleway : 'Raleway', sans-serif;
$stint : 'Stint Ultra Condensed', serif;
$paragraph : 'Helvetica neue', sans-serif;
$roboto : 'Roboto', sans-serif;
$robocon : 'Roboto Condensed', sans-serif;





