
@import "variables";
@import "nav";
@import "colours";
@import "headings";
@import "header";
@import "gallery";
@import url(http://fonts.googleapis.com/css?family=Stint+Ultra+Condensed|Raleway:400,300,900,700);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,400italic,500,700|Roboto+Condensed:400italic,400,300,700);
* {
    box-sizing: border-box;
}


$bgVars:    'home' $bghome, 
            'barrelchasers' $bgcrew, 
            'lobitos' $bgtown,
            'signup' $bgnews;


body {

    margin: 0 auto;
    background-position: center top; 

}


body.home {
    margin: 0 auto;
    background: $bghome;
    background-position: center top; 
}

body.barrelchasers {
    margin: 0 auto;
    background: $bgcrew;
    background-position: center top; 
}

body.lobitos {
    margin: 0 auto;
    background: $bgtown;
    background-position: center top;
}

body.signup {
    margin: 0 auto;
    background: $bgnews;
    background-position: center top;
}

/*Variable backgrounds

I want to make each page have a different background.
I have made each jpg a variable in the variables scss file.
so i need to make:
 an array with the page name and its corresponding jpg,
 and an if or case statement whih assigns them correctly.
 See nav assignation and if/case practice files.
*/



.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
    font-size:0;
}
 
.clearfix {
    display: inline-block;
}
 

 
* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}

article {
	@extend.clearfix;
}


.content_box {
    background: white;

    margin-top: 16px;

    margin-bottom: 50px;
    padding-bottom: 16px;


}

.inivisible {
    visibility: none;
}

.video {
    /*background: $seastorm;*/
    height:450px;
    margin-bottom: 15px;


}

.gallerytickets {

    height: 100px;
}


.ticket_box {
    margin-right: 15px;
    width: inherit;
}



.tickets {
    margin-left: 15px;
    height: 100%;
    background: $sunshine;
    color: white;
    text-align: center;
    border-radius: none;
    height: 100px;
    width: 143px;
    float: right;
}


.releasedate {
    padding-top: 16px;
    text-align:center;
    color: $swell;
    padding-bottom:16px; 
}



nav.contentNav {
    position: relative;
    left: -20px;
}

footer {
    padding-bottom: 16px;
}


p {
    font-size: 16px;
    font-family: $paragraph;
    line-height: 24px; 
    padding-bottom:16px;
}

#synopsis {
    padding-top: 0px;
    margin-top:0px;
}
#credits {
    padding-top:0px;
    margin-top:0px;
    font-size:13px; 
    color: $jetty;
}

.docabout {
    margin-top: 15px;
}

video::-webkit-media-controls-panel{
    background-color: rgba($horizon, 0.9)
}

video::-webkit-media-controls-time-remaining-display{
    font-family:$roboto;
    font-weight: 300;
}

audio::-webkit-media-controls-play-button, video::-webkit-media-controls-play-button {
    background-image: url('../assets/images/playicon--white.png');
    background-size: 100%;
    -webkit-appearance: none;
}

.biopic{
    width:100%;
    
}

a.bio_links{
    margin-left:16px;
}

.lobitos_gallery {
    width:100%
}

.gallery {
    float:left;
    margin-left:15px;
}






